@import 'universal.scss';

.contenedor { 
  width: 100%; 
  height: 80vh; 
  overflow: scroll;
}

.tabla thead tr th {
    border: 1px solid $primary-invert;
    background-color: $primary;
    color: $primary-invert;
}

table { 
  text-align: center; 
}

table th, table td {
  white-space: nowrap;
  padding: 10px 20px;  
}

table td div, table th div {
  width: 150px;
}

.fecha {
  position: sticky;
  left: 0;
  z-index: 9;
  background: #ccc;
}

.hoy {
  position: sticky;
  left: 0;
  z-index: 9;
  background-color: #5f9cfa;
  color: $primary-invert !important;
}

.celdaHoy {
  // background-color: #9cd4ff;
  //background-color: #a1d6ff;  
  background-color: #d9e8ff;
  //#d9e8ff
}





