@import 'universal.scss';

.colorCero {
  background-color: red;
}

.colorUno {
  background-color: blue;
}

.colorDos {
  background-color: grey;
}

.colorTres {
  background-color: green;
}

.colorCuatro {
  background-color: yellow;
}

.colorCinco {
  background-color: yellowgreen;
}

.colorSeis {
  background-color: pink;
}

.colorSiete {
  background-color: purple;
}

.colorOcho {
  background-color: orange;
}

.colorNueve {
  background-color: olivedrab;
}