@import 'universal.scss';

.colorCero {
  background-color: $azul-marino;
}

.colorUno {
  background-color: $azul;
}

.colorDos {
  background-color: $verde-agua;
}

.colorTres {
  background-color: $celeste;
}

.colorCuatro {
  background-color: $amarillo;
}

.colorCinco {
  background-color: $verde;
}

.colorSeis {
  background-color: $purpura;
}

.colorSiete {
  background-color: $bordo;
}

.colorOcho {
  background-color: $naraja;
}

.colorNueve {
  background-color: $fucsia;
}